* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.ticket-container {
  width: 23%;
  height: 100%;
  margin: 50px auto;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#qrcode {
  margin-top: 30px;
  display: inline-block;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  text-align: center;
  width: 200px;
  height: 200px;
}

.imgqr {
  width: 80%;
  height: 80%;
  margin-top: 15px;
}

.ticket-info {
  font-size: 1.1rem;
  margin-top: 20px;
}

p, h1{
  padding: 8px;
}